body {
    font-family: Tahoma, sans-serif;
    background-color: #E1E6E8;
    color: #213456;
    text-align: center;
} 

a {
    text-decoration: none;
    font-size: 20px
}

div.tab {
    overflow: hidden;
    background-color: #D2D2D2;
}

div.tab a {
    float: left;
    display: block;
    color: #213456;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 28px;
}

div.tab a:hover {
    background-color: #DFDFDF;
}

div.tab a:focus, .active {
    background-color: #ccc;  
}

.tabcontent {
    display: none;
    border-top: none;
}

#top { 
    text-align: center;
    display: inline-block;
    max-width: 300px;
    float: right;
}

#searchMov {
    display: inline-block;
    
    width: 680px;
    text-align: center;
}

input {
	outline: none;
    margin-top: 20px;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 30px;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
    
	padding: 9px 20px 9px 38px;
	width: 550px;
    height: 30px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 600px;
	background-color: #fff;
	border-color: black;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

#movInfo {
    max-width: 300px;
    float:left;
    
    text-align: center;
}

#movInfoWithBtn {
    text-align: center;
    max-width: 370px;
    margin-left: 150px;
    margin-top: 100px;
    
    font-size: 130%
}

#btn {
    width: 200px;
    height: 70px;
    font-size: 25px;
    border-radius: 8px;
    background-color: lightgray;
    
}

#movInfoFav {
    max-width: 680px;
    text-align: center;
    font-size: 22px;
    
}












































